<h1><%= t.panel.title %> <small><%= @title %></small></h1>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/post" role="button">&laquo; <%= t.panel.back %></a>
  <a class="btn btn-danger btn-delete" title="<%= t.panel.delete %>" href="/admin/post/delete/<%= @entity.id %>" role="button"><span class="glyphicon glyphicon-trash"></span></a>
</div>

<form action="/admin/post/edit/<%= @entity.id %>" method="post" role="form">
  <%= erb :'admin/post/form', :layout => false %>
</form>
	
