<h1><%= t.panel.title %> <small><%= @title %></small></h1>

<div class="admin-bar">
	<a class="btn btn-default btn-success" href="/admin/post/create" role="button"><%= t.panel.create %></a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th><%= t.panel.fields.title %></th>
			<th><%= t.panel.fields.publish_date %></th>
			<th><%= t.panel.fields.status %></th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
<% @entities.each do |post| %>
		<tr>
			<td><%= post.id %></td>
			<td><%= post.title %></td>
			<td><%= post.format_date %></td>
			<td>
			  <% if post.status == 0 %>
			    <span class="label label-warning">Draft</span>
			  <% else %>
			    <span class="label label-success">Available</span>
			  <% end %>
			</td>
			<td class="list-actions">
				<a role="button" title="<%= t.panel.edit %>" class="btn btn-default" href="/admin/post/edit/<%= post.id %>"><span class="glyphicon glyphicon-list"></span></a>

				<a role="button" title="<%= t.panel.delete %>" class="btn btn-default btn-delete" href="/admin/post/delete/<%= post.id %>"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
<% end %>
<% if @entities.length == 0 %>
		<tr>
			<td colspan="4"><%= t.panel.no_results %></td>
		</tr>
<% end %>
	</tbody>
</table>
