<h1>Administracion <small>Posts</small></h1>

<div class="admin-bar">
	<a class="btn btn-default btn-success" href="/admin/post/create" role="button">+New Post</a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Publish Date</th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
<% @entities.each do |post| %>
		<tr>
			<td><%= post.id %></td>
			<td><%= post.title %></td>
			<td>
				<% if post.published_on %>
					<%= post.published_on %>
				<% else %>
					<span class="draft">Draft</a>
				<% end %>
			</td>
			<td class="list-actions">
				<a role="button" title="Edit" class="btn btn-default" href="/admin/post/edit/<%= post.id %>"><span class="glyphicon glyphicon-list"></span></a>

				<a role="button" title="Delete" class="btn btn-default btn-delete" href="/admin/post/delete/<%= post.id %>"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
<% end %>
<% if @entities.length == 0 %>
		<tr>
			<td colspan="4">No posts were found</td>
		</tr>
<% end %>
	</tbody>
</table>
