<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
  <title>Daniel.uy Blog</title>
  <link>http://www.daniel.uy</link>
  <description>Mi blog en español!</description>
<% @posts.each do |post| %>
  <item>
    <title><%= post.title %></title>
    <link>http://daniel.uy/posts/<%= post.id %>/<%= post.slug %>.html</link>
    <description><%= post.body %></description>
    <pubDate><%= Time.parse(post.created_at.to_s).rfc822() %></pubDate>
    <guid>http://daniel.uy/posts/<%= post.id %>/<%= post.slug %>.html</guid>
  </item>
<% end %>
</channel>
</rss> 