<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
  <title>Daniel.uy Blog</title>
  <link><%=link %></link>
  <description>Mi blog en español!</description>
<% @posts.each do |post| %>
  <item>
    <title><%= post.title %></title>
    <link><%=link post.url %></link>
    <description><%= post.body %></description>
    <pubDate><%= post.rfc_date %></pubDate>
    <guid><%=link post.url %></guid>
  </item>
<% end %>
</channel>
</rss> 
