<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Daniel.uy | <%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog en español de Daniel Morales acerca de programación, gaming y otras yerbas">
    <meta name="author" content="Daniel Morales">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" type="text/css">
    <link href="<%= link 'css/styles.css' %>" rel="stylesheet">

    <link rel="shortcut icon" href="<%= link 'favicon.ico' %>" />
    <link rel="alternate" title="RSS Daniel.uy" href="<%= link 'feed' %>" type="application/rss+xml" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-638054-10', 'daniel.uy');
  ga('send', 'pageview');

</script>
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation"><!-- navbar-fixed-top-->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= link %>">Daniel Morales</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= current? %>"><a href="<%= link %>">Inicio</a></li>
            <li class="<%= current?('acerca.html') %>"><a href="<%= link 'acerca.html' %>">Acerca</a></li>
            <li class="<%= current?('contactar.html') %>"><a href="<%= link 'contactar.html' %>">Contactar</a></li>

            <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="<%= link 'admin/posts' %>">Posts</a></li>
                <li><a href="<%= link 'admin/tags' %>">Tags</a></li>
                <li><a href="<%= link 'admin/messages' %>">Messages</a></li>
              </ul>
            </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="rss" href="<%= link 'feed' %>" target="_blank">RSS</a></li>
            <li><a class="english" href="http://blog.daniel.com.uy/">English</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:notice] %>
      </div>
      <% end %>

      <div class="row">
        <div class="col-sm-8 duy-main">
          <%= yield %>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Acerca</h4>
            <p>Dícese de un tipo que <em>programaba</em> y pasaba demasiado tiempo online; un día se decidió a finalmente escribir su blog en español. Lea el <a href="/acerca.html">Acerca</a> para saber más de esta increíble historia. <em>No</em></p>
          </div>

          <div class="sidebar-module sidebar-module-center">
            <script id="fedora-banner" type="text/javascript" src="http://fedoraproject.org/static/js/release-counter-ext.js?lang=es&width=200px"></script>
          </div>

          <div class="sidebar-module">
            <h4>Tags</h4>
            <ol class="list-unstyled">
            <% tags.each do |tag| %>
              <li><a href="<%= link tag.url %>"><%= tag.name %></a></li>
            <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; Dani Morales 2014 | Hosted on <a href="http://heroku.com/" target="_blank">Heroku</a> &amp; <a href="http://pointhq.com/" target="_blank">PointDNS</a> | Powered by <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a> | <a href="https://github.com/danielm/sinatra-blog" target="_blank">View Source</a></p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="<%= link 'js/app.main.js' %>"></script>

    <a href="https://github.com/danielm/sinatra-blog" id="forkme" target="_blank"><img style="position: absolute; z-index:1031; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  </body>
</html>
