<h1>Administracion <small>Edit Post #<%= @post.id %></small></h1>

<div class="admin-bar">
  <a class="btn btn-default btn-default" href="/admin/posts" role="button">&laquo; Back to list</a>
</div>

<form action="/admin/posts/edit/<%= @post.id %>" method="post" role="form">
  <% if @post.errors.count > 0 %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <ul>
        <% @post.errors.full_messages.each do |e| %>
           <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
   <label for="post_title">Title:</label>
   <br>
   <input id="post_title" class="form-control" name="post[title]" type="text" value="<%= @post.title %>" style="width=90%"/>    
 </div>

 <div class="form-group ">
   <label for="post_published_on">Publish Date (yyyy-mm-dd hh:mm:ss):</label>
   <br>
   <input id="post_published_on" class="form-control" name="post[published_on]" type="text" value="<%= @post.published_on %>" style="width=90%"/>
 </div>

 <div class="form-group">
   <label for="post_body">Body:</label>
   <br>
   <textarea rows="5" id="post_body" name="post[body]" class="form-control" rows="10"><%= @post.body %></textarea>
 </div>
 <button type="submit" class="btn btn-success">Submit</button>
</form>
	