<h1><%= t.panel.title %> <small><%= @title %></small></h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th><%= t.panel.fields.name %></th>
			<th>&nbsp;</th>
		</tr>
	</thead>

	<tbody>
<% @entities.each do |tag| %>
		<tr>
			<td><%= tag.id %></td>
			<td><%= tag.name %></td>
			<td class="list-actions">
				<a role="button" title="<%= t.panel.delete %>" class="btn btn-default btn-delete" href="/admin/tag/delete/<%= tag.id %>"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
<% end %>
<% if @entities.length == 0 %>
		<tr>
			<td colspan="3"><%= t.panel.no_results %></td>
		</tr>
<% end %>
	</tbody>
</table>
