<% @posts.each do |post| %>
<div class="duy-post">
  <h2 class="duy-title"><a href="<%=link post.url %>"><%= post.title.titleize %></a></h2>
  <p class="duy-info"><%= post.published_on %> by <a href="/acerca.html">Daniel</a></p>

  <%= post.body %>
</div>
<% end %>

<% if @posts.count == 0 %>
    <p class="empty-blog">No se han encontrado posts... nuevo blog?</p>
<% else %>
<ul class="pagination pagination-lg">
<% if @have_previous %>
  <% if @have_previous > 1 %>
  <li><a href="/?page=<%= @have_previous %>">&laquo; Anterior</a></li>
  <% else %>
  <li><a href="/">&laquo; Anterior</a></li>
  <% end %>
<% else %>
  <li class="disabled"><a>&laquo; Anterior</a></li>
<% end %>

<!--<li class="active"><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>-->

<% if @have_next %>
  <li><a href="/?page=<%= @have_next %>">Siguiente &raquo;</a></li>
<% else %>
  <li class="disabled"><a>Siguiente &raquo;</a></li>
<% end %>
</ul>
<% end %>
