<ul>
<% @posts.each do |post| %>
 <li>
   <h4><a href="/posts/<%= post.id %>/<%= post.slug %>.html"><%= post.title %></a></h4>
   <p>Created: <%= post.created_at %></p>
 </li>
<% end %>

<% if @have_previous %>
	<% if @have_previous > 1 %>
		<a href="/?page=<%= @have_previous %>">Anterior</a><br >
	<% else %>
		<a href="/">Anterior</a>
	<% end %>
<% end %>

<% if @have_next %>
	<a href="/?page=<%= @have_next %>">Siguiente</a>
<% end %>

</ul>