<div class="duy-page-title">
	<h1><%= t.core.tag %> <small><%= @tag.name %></small></h1>
	<hr />
</div>

<% @posts.each do |post| %>
<div class="duy-post">
  <h2 class="duy-title"><a href="<%=link post.url %>"><%= post.title.titleize %></a></h2>
  <p class="duy-info"><%= post.format_date(settings.date_format) %> by <a href="<%= settings.author_link %>"><%= settings.author_name %></a></p>

  <%= post.body %>
</div>
<% end %>

<% if @posts.length == 0 %>
    <p class="empty-blog"><%= t.core.no_results %></p>
<% else %>
<ul class="pagination pagination-lg">
<% if @have_previous %>
  <% if @have_previous > 1 %>
  <li><a href="<%=link @tag.url %>?page=<%= @have_previous %>"><%= t.core.previous %></a></li>
  <% else %>
  <li><a href="<%=link @tag.url %>"><%= t.core.previous %></a></li>
  <% end %>
<% else %>
  <li class="disabled"><a><%= t.core.previous %></a></li>
<% end %>

<% if @have_next %>
  <li><a href="<%=link @tag.url %>?page=<%= @have_next %>"><%= t.core.next %></a></li>
<% else %>
  <li class="disabled"><a><%= t.core.next %></a></li>
<% end %>
</ul>
<% end %>
